

/*Font family*/

$normal:400;
$heavy:500;
$very-heavy:600;
$header_font_family:'Jua';
$default_font_family:'Inter';

$font_size_35:35px;
$font_size_25:25px;
$font_size_24:24px;
$font_size_15:15px;
$font_size_18:18px;
$font_size_20:20px;



$font-color:#7C7C7C;
$nav-background:#EEEEEE;
$link-color:#555555;




/*border-sizes*/
$border-5:5px;
$border-10:10px;


/*contacts icon align*/
.icon-align{
    float:right;
    position: relative;
    right:0px;
    bottom:50px;

}

/*aligning web page*/

@for $i from 1 through 12{
    $w:($i/12)*100%;
    .align-#{$i}{width:$w; float:left;}
}